# Compiled Java Class Files
*.class

# Build output directories
target/
bin/
out/
build/

# OS specific files
.DS_Store
Thumbs.db

# Package Files
*.jar
*.war
*.zip
*.tar.gz
*.rar

# Log and temporary files
*.tmp
*.log

#VS Code
.vscode/*